:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #4b1b79;
    --secondary-color: #c03c47;
    --line-height: 1.7rem;
    --transition: 0.1s ease-in;
  }
html {
    scroll-behavior: smooth;
  }
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    }
body {
    font-weight: 100px;
        
    }

ul li {
    list-style-type: none;
  }
a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  } 

  #navigation {
    margin-left: 50px;
  }
  
  nav {
    background-color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 20;
    box-shadow: 2px 3px 2px #f1f1f1;
}

nav ul {
    float: right;
    margin-right: 100px;
    border-bottom: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

  .hamburger {
    display: none;
  }
  
  ul {
    display: flex;
    align-items: center; 
  }
  
  .nav-item {
    padding-left: 50px;
    
  }
  
  .nav-link {
    font-weight: var(--bold-font);
    padding: 7px 13px;
    word-wrap: normal;
    display: inline-block;
  }
  .intro-text h1 {
    font-size: 48px;
    margin-bottom: 16px;
  }
  #body-1 {
    display: flex;
    padding-top: 100px;
    margin-left: 100px;
  }
  #background-image {
    width: 800px;
    height: 800px;
    padding: 10px 20px;
    
  }
  #btn-1 {
    border-radius: 50px;
    background: #4b1b79;
    padding: 10px;
    color: white;
    border: none;
    size: 20px;
    cursor: pointer;
  }
  .intro-text {
    padding-top: 50px;
  }
 .brand {
    color: #4b1b79;
 }